<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">

	<resultMap type="com.project.ny.model.UserBean" id="userResult">
		<result property="userId" javaType="string" jdbcType="VARCHAR2" column="USER_ID"/>
		<result property="password" javaType="string" jdbcType="VARCHAR2" column="PASSWORD"/>
		<result property="userName" javaType="string" jdbcType="VARCHAR2" column="USER_NAME"/>
		<result property="userNameKana" javaType="string" jdbcType="VARCHAR2" column="USER_NAME_KANA"/>
		<result property="nickname" javaType="string" jdbcType="VARCHAR2" column="NICKNAME"/>
		<result property="joinDate" javaType="date" jdbcType="DATE" column="JOIN_DATE"/>
		<result property="lastLoginDate" javaType="date" jdbcType="DATE" column="LAST_LOGIN_DATE"/>
		<result property="position" javaType="string" jdbcType="VARCHAR2" column="POSITION"/>
		<result property="rankId" javaType="integer" jdbcType="INTEGER" column="RANK_ID"/>
		<result property="address" javaType="string" jdbcType="VARCHAR2" column="ADDRESS"/>
		<result property="email" javaType="string" jdbcType="VARCHAR2" column="EMAIL"/>
	</resultMap>

	<select id="find" parameterType="map" resultMap="userResult">
		SELECT
			user_id,
			password,
			user_name,
			user_name_kana,
			nickname,
			join_date,
			last_login_date,
			position,
			rank_id,
			address,
			email
		FROM
			USERS
		WHERE
			user_id = #{userId}
			and password = #{password}
	</select>

</mapper>